<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tecnobank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tecnobank">
        <activity android:name=".home.AddMoneyActivity"></activity>
        <activity android:name=".home.PayCheckActivity" />
        <activity android:name=".home.ShoppingCashbackActivity" />
        <activity android:name=".home.PayQrCodeActivity" />
        <activity android:name=".cards.TecnobankCardsActivity" />
        <activity android:name=".cards.PrepaidCardActivity" />
        <activity android:name=".cards.RequestCardActivity" />
        <activity android:name=".home.ProfileActivity" />
        <activity android:name=".home.QrCodeSafeActivity" />
        <activity android:name=".home.NotificationActivity" />
        <activity android:name=".home.AccountDependencyActivity" />
        <activity android:name=".home.PixQrCodeActivity" />
        <activity android:name=".extract.FilterActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>